<template>

	<div class="feed-container">
		<div v-for="photo in photos" class="feed">
			<photo :photo="photo" :favorited="userFavorites"></photo>
		</div>

		<nav aria-label="Page navigation example">
			<ul class="pagination">
				<li class="page-item"><a class="page-link" href="#" @click="previousPage">Previous</a></li>
				<li class="page-item"><a class="page-link" href="#">Current page: {{ page }}</a></li>
				<li class="page-item"><a class="page-link" href="#" @click="nextPage">Next</a></li>
			</ul>
		</nav>
	</div>
	
</template>

<script>

	import Photo from './Photo.vue'

	export default{

		components: {
			Photo,
		},

		data: function(){

			return {
				photos: [],
				userFavorites: [],
				page: 1
			}

		},

		mounted(){

			this.updatePhotos()

			//get user liked photos id arrays

			axios.get('/api/photos/auth-user-favorites').then(response => {
				this.userFavorites = response.data
			})

		},

		methods: {

			updatePhotos(){

				//get current page photos
				axios.get('/api/jsonplaceholder/photos?_page='+this.page+'&_limit=50').then(response => {
					this.photos = response.data
				})

			},

			previousPage: function(){

				if(this.page > 0){
					--this.page
					this.updatePhotos()
				}

			},

			nextPage: function(){

				if(this.page < 100){
					++this.page
					this.updatePhotos()
				}

			}

		}

	}
</script>
