<template>

	<div class="card mb-2">
		<img :src="photo.url" class="card-img-top" :alt="photo.title">
		<div class="card-body">
			<h5 class="card-title">{{photo.title}}</h5>
			<i :class="[favoriteClass]" class="fa-heart float-right" @click="toggleFavorite"></i>
		</div>
	</div>

</template>

<script>

	export default {
		
		props: ['photo', 'favorited'],

		data: function(){

			return {
				favoriteClass: 'far'
			}

		},

		mounted(){

			if (this.favorited.filter(e => e.jsonplaceholder_photo_id === this.photo.id).length > 0) {
				this.favoriteClass = 'fas'
			}

		},

		methods: {

			toggleFavorite: function(){

				axios.post('/api/photos/toggle-favorite', {

					photo_id: this.photo.id,
					title: this.photo.title,
					url: this.photo.url,
					thumbnail_url: this.photo.thumbnailUrl

				}).then(response => {

					if(response.data.favorited){
						this.favoriteClass = 'fas'
					}else{
						this.favoriteClass = 'far'
					}

				})

			}

		}
	}
	
</script>
