<template>

	<div class="feed-container">
		<div v-if="!isWeekend()" v-for="photo in photos" class="feed">
			<public-photo :photo="photo"></public-photo>
		</div>

		<div v-if="isWeekend()" v-for="user in users" class="users-feed">
			<user :user="user"></user>
		</div>
	</div>
	
</template>

<script>

	import PublicPhoto from './PublicPhoto.vue'

	export default{

		components: {

			PublicPhoto,

		},

		data: function(){

			return {
				photos: [],
				users: [],
			}

		},

		mounted(){

			//get current page photos
			axios.get('/api/photos/favorites/latest').then(response => {
				this.photos = response.data
			})

			axios.get('/api/users/most-active').then(response => {
				this.users = response.data
			})

		},

		methods: {

			isWeekend(){

				var d = new Date().getDay()

  				return (d === 6 || d === 7)

			}

		}

	}
</script>
