<template>

	<div class="card mb-2">
		<img :src="photo.url" class="card-img-top" :alt="photo.title">
		<div class="card-body">
			<h5 class="card-title">{{photo.title}}</h5>
			<i class="fas fa-heart float-right"> {{photo.favorites_count}}</i>
		</div>
	</div>
	
</template>

<script>

	export default {

		props: ['photo'],

	}
	
</script>
