<template>
	
	<div class="card mb-2">
		<!-- <img :src="user.picture_url" class="card-img-top" :alt="user.name"> -->
		<div class="card-body">
			<h5 class="card-title">{{user.name}}</h5>
			<p>Favorite count: {{user.favorites_count}}</p>
			<p>{{user.email}}</p>
		</div>
	</div>


</template>

<script>


	export default{
		props: ['user']
	}

</script>
